<div>
  <h1>Liste des stations de <kbd>{{city}}</kbd></h1>

<button type="button" class="btn btn-outline-primary" >Nom de la station | Nombre de véols / Nombre d'emplacement</button>

<ul *ngIf="stationList.length">
  <button type="button" class="btn btn-outline-primary" *ngFor="let station of stationList" (click)="goToStation(station.id)">{{ station.name }} | {{station.numberOfBike}}/{{station.numberofStand}}</button>
</ul>
<button (click)="reloadStation()" type="button" class="btn btn-primary">Refresh</button>
<button (click)="return()" type="button" class="btn btn-secondary">Return</button>
</div>
